select {
    display: block;
    color: goldenrod;
    background: black;
}
#commentsa {
    display: block;
}
.comment-post {
    width: 50%;
    padding: 2%;
    border: 7px solid black;
    background: rgb(9, 9, 95);
    color: goldenrod;
    text-align: center;
    position: fixed;
    margin: auto;
}
#comment-box {
    height: 55px;
    color: goldenrod;
}
option {
    color: goldenrod;
}
button {
    background: black;
    color: white;
    border: 1px black;
    border-radius: 2px black;
}
