.containerW{
    display:none;
    color: white;
    position: absolute;
    z-index: 6;
}

#rowW {
    border: 4px dotted greenyellow;
    background: black;
    width: 80%;
    margin-top: 10%;
    margin-left: 58.5%;
    text-align: center;
}

h3 {
    font-size: 110%;
}

h2 {
    font-size: 125%;
}

.emoji {
    font-size: 200%;
    display: none;
    animation-name: fadeOutin;
  animation-delay: 0s;
  animation-duration: 2s;
}